header{
  text-align: center;
}
h1,h2,h3,p{
  padding: 0px;
}
#startup{
  align-content: center;
  text-align: center;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  padding-bottom: 3%;
  height: 500px;
}
#subscribe{
  background-image: url("../images/backgrounds/subscribe.jpg");
  height: 320px;
  width:100%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: center;
}
.col1{
  width: 150px;
}
.row1{
  height: 100px;
}
#happy-hour{
  background-color: #e5e8e8;
  background-size: cover;
  height:100%;
}
#party-time{
  background-color: #ff5733;
  color: white;
  background-size: cover;
  height: 100%;
}
#breakfast{
  background-image:url("../images/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  color:white;
  padding-bottom: 3%;
}
#lunch{
  background-image: url("../images/foodtop/lunch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height:100%;
  padding-bottom: 3%;
}
#dinner{
  background-image: url("../images/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  height:120%;
  padding-bottom: 3%;
}
#fastfoods{
  padding-top: 5%;
  border-spacing: 2%;
  align-self: center;
  padding-left: 25%;
}
.foodtxt{
  text-align: left;
}
.fastfoodimg{
  border-color: #E5E8E8;
  border-style: solid;
  border-top: 5px;
  border-bottom: 5px;
  border-right: 5px;
  border-left: 5px;
}
.foodtxt2{
  text-align: right;
}

#menu{
  background-image: url("../images/backgrounds/foodsBg.jpg") ;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}
.menu-nav{
  padding-top: 3%;
  padding-left: 4%;
  padding-right: 4%;
}
