header{
  text-align: center;
}
h1,h2,h3,p{
  padding: 0px;
}
#startup{
  align-content: center;
  text-align: center;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  padding-bottom: 3%;
  height: 500px;
}
#subscribe{
  background-image: url("../images/backgrounds/subscribe.jpg");
  height: 320px;
  width:100%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  padding: center;
}
.col1{
  width: 150px;
}
.row1{
  height: 100px;
}
#happy-hour{
  background-color: #e5e8e8;
  background-size: cover;
  height:100%;
  text-align: center;
}
#party-time{
  background-color: #ff5733;
  color: white;
  background-size: cover;
  height: 100%;
  text-align: center;
}
#breakfast{
  background-image:url("../images/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height:100%;
  color:white;
  padding-bottom: 3%;
  text-align: center;
}
#lunch{
  background-image: url("../images/foodtop/lunch.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height:100%;
  padding-bottom: 3%;
  text-align: center;
}
#breakfast:hover,
#lunch:hover,
#dinner:hover{
  background-image: url("../images/foodtop/dinner2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  height:120%;
  padding-bottom: 3%;
  text-align: center;
}
#dinner{
  background-image: url("../images/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
  height:120%;
  padding-bottom: 3%;
  text-align: center;
}
#fastfoods{
  padding-top: 5%;
  border-spacing: 2%;
  padding-left: 25%;
  margin-bottom: 50px;
}
.foodtxt{
  text-align: left;
}
.fastfoodimg{
  image-orientation: center;
  position: relative;
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 0 20px grey;
}
.foodtxt2{
  text-align: right;
}

#menu{
  background-image: url("../images/backgrounds/foodsBg.jpg") ;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 150px;
  padding-top: 150px;
  padding-left: 0px;
  padding-right: 0px;
}
.menu-nav{
  padding-top: 3%;
  padding-left: 4%;
  padding-right: 4%;
  color: black;
  font-size: 12px;
  padding-bottom: 10%;
}
.topnav a{
  background-color: #EAE6E5;
}
.topnav a.active{
  background-color: white;
  color: #FF5733;
}
.topnav a{
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 25px;
}

.topnav a:hover{
  background-color: white;
  color: #FF5733;
}
#menufood{
  color: #FF5733;
  text-align: center;
  padding: 10%;
}
.solid{
  border-style: solid;
}
.client{
  text-align: center;
}
.about{
  text-align: center;
}
a{
  display: inline-block;
  padding: 8px 16px;
}
a:hover{
  background-color: #FF5733;
  color: black;
}
.previous{
  color: black;
}
.next{
  color: black;
}
.round{
  border-radius: 50%;
}
.customer{
  margin: 100px;
}
